body {

    font-family: 'Poppins', sans-serif;
}

.allign-sec {
    display: flex;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

div img {
    width: 70%;
}

.half-width {
    width: 40%;
    padding-left: 2%;
    padding-top: 5%;
    margin-top: 5px;
    margin-left: 5%;

}

.orange-color {
    color: orange;
}

.link-button {
    text-decoration: none;
    color: white;
    padding: 10px 40px;
    background-image: linear-gradient(tomato, red);

}

.table-border-h1 {
    border-left: 4px solid;
    border-image: linear-gradient(red, tomato);
    border-image-slice: 1;

}

.mission-2022-h2 {
    text-align: center;
}

.mission-box {
    margin-left: 5%;
    background-color: rgb(214, 247, 235);
    border-radius: 5px;

}

.vission-box {
    background-color: pink;
}

.goals-box {
    background-color: rgb(233, 217, 219);
}

.middle-sec {
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
}

.last-sec {
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
}

.footer-allign {
    text-align: center;
    color: white;
}

.color-footer {
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}